<header>
    <nav>
        <table>
            <tr>
                <td><a href="sobre"> Ir para a p치gina sobre</a></td>
            </tr>
            <tr>
                <td><a href="cadastro"> Ir para a p치gina cadastro</a></td>
            </tr>
            <tr>
                <td><a href="login"> Ir para a p치gina login</a></td>
            </tr>
            <tr>
                <td><a href="dashboard"> Ir para a p치gina dashboard</a></td>
            </tr>
        </table>
    </nav>
</header>