<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head") %>

<body>

    <form action="/cadastro" method="post" class="formItens">
    <center>
        <table>
            <tr>
                <td>EMAIL:</td>
                <td><input type="text" name="username" id="username" placeholder="digite seu email"></td>
            </tr>
            <tr>
                <td>SENHA:</td>
                <td><input type="text" name="password" id="password" placeholder="digite sua seha" ></td>
            </tr>
        </table>
        <a href="login"><button>CADASTRAR</button></a>
    </center>
    </form>
    <%- include ("../partials/menu") %>
    <%- include ("../partials/footer") %>
    

</body>