<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head") %>

<body>

    <center>
        <table>
            <tr>
                <td>EMAIL:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>SENHA:</td>
                <td><input type="text"></td>
            </tr>
        </table>
        <a href="login"><button>CADASTRAR</button></a>
    </center>
    <%- include ("../partials/menu") %>
    <%- include ("../partials/footer") %>
    

</body>