<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head") %>

<body>
    <center>
        Bem-vindo à pagina dashboard! <br>
        
        <a href="/"> Voltar à página inicial</a>
    </center>
    <%- include ("../partials/menu") %>
    <%- include ("../partials/footer") %>
</body>