<!DOCTYPE html>
<html lang="en">


<%- include ("../partials/head") %>


<body>
    <center>
        Bem-vindo à pagina Sobre!<br>
        <a href="cadastro"> ir a pagina cadastro</a>
    </center>
    <%- include ("../partials/menu") %>
    <%- include ("../partials/footer") %>

</body>

</html>